body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: gray;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.btn-menu {
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;

    &.close {
        transform: rotate(180deg);
        transition: all 0.7s ease-in-out;

        .btn-lin:nth-child(2) {
            display: none;
        }

        .btn-lin:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        .btn-lin:nth-child(3) {
            transform: rotate(-45deg) translate(7px, -6px);

        }
    }
}

.btn-lin {
    width: 70px;
    height: 6px;
    margin-bottom: 5px;
    background: rgb(126, 87, 87);
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;



    &.show {
        visibility: visible;

    }

    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;

    }
}