.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

// background 
.bg {
    &-primary {
        @include set-background($primary-color)
    }

    &-light {
        @include set-background($light-color);
        border: #ccc solid 1px;
    }

    &-dark {
        @include set-background($dark-color)
    }

    &-success {
        @include set-background($success-color)
    }

    &-danger {
        @include set-background($danger-color)
    }

    &-light {
        @include set-background($light-color);
        border: #ccc solid 1px;
    }
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100vh;
}

// buttons

.btn {
    display: inline-block;
    background: $light-color;
    color: #333;
    padding: .7rem 1.2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: .4rem;
    outline: none;
    transition: all .7s ease-in-out;

    &.btn-primary {
        @include set-background($primary-color);

        &:hover {
            background: lighten($primary-color, 20%);
            color: #333;
        }
    }

    &.btn-light {
        @include set-background($dark-color);

        &:hover {
            background: lighten($dark-color, 40%);
            color: #333;
        }
    }



}

.container {
    width: $max-width;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 7rem;

}

.text-primary {
    color: $primary-color;
}

.alert {
    padding: 1rem;
    margin: 1rem;
    opacity: .8;
    background: $light-color;
    color: #333;

    &.alert-primary {
        @include set-background($primary-color)
    }

    &.alert-primary {
        @include set-background($dark-color)
    }

    &.alert-primary {
        @include set-background($success-color)
    }

    &.alert-danger {
        @include set-background($danger-color)
    }
}

.rounded {
    width: 100%;
    border-radius: 50%;
}

.line {
    height: 1px;
    background: #ccc;
    margin: 1.2rem 0;

}

.badge {
    font-size: .7rem;
    padding: .1rem;
    text-align: center;
    margin: .3rem;
    background-color: lightgrey;
    color: #333;

    &.badge-primary {
        @include set-background($primary-color)
    }

    &.badge-dark {
        @include set-background($dark-color)
    }

    &.badge-light {
        @include set-background($light-color)
    }
}

.table th,
td {
    padding: 1rem;
    text-align: left;
    background-color: #333;
    color: white;

    th {
        background-color: #333;
    }
}